$dark-blue: #07264d;
$orange: #f37723;
$gray: #d8d8d8;
$white: #fff;
$black: #000;
$darkest-blue:#05244b;
$input-color:#797979;
$links-color:#1c385c;
$silver: #e3e3e3;
$spark-blue:#1eb5e3;
$dark-gray:#757575;
$primary-text-clor:#5d5d5d;
$light-gray:#b5b5b5;
$dim-white:#858d9a;
$sky-blue:#26b4e3;
$new-blue: #1cc5df;
$footer-background:#0c1c36;
